.modal {
  background: rgba(0, 0, 0, 0.85);
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.container {
  position: relative;
  height: 420px;
  width: 500px;
  top: -10vh;
  border-radius: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  word-break: break-all;
  transition: all 0.2s ease;
}

.cross {
  position: absolute;
  color: rgb(245, 96, 153);
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 15px;
  right: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.cross:hover {
  background: rgba(0, 0, 0, 0.048);
}

.content {
  overflow-y: scroll;
  width: 80%;
  margin: 60px;
}

.cross:active {
  transform: scale(0.9);
}

@media (max-width: 750px) {
  .container {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 260px;
  }
}
