.navbar {
  background: #046a8b;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar svg {
  width: 50px;
  height: 95%;
  color: white;
  cursor: pointer;
}
.navbar svg:hover {
  color: black;
}
.input > input {
  outline: none;
  border: none;
  background-color: white;
  padding: 0.1em;
  width: 90%;
  margin: 10px;
  height: 90%;
  font-size: 1rem;
}
.input > button {
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: 10px;
  width: 33px;
  margin: 5px;
  padding: 7px;
}

.input > button:hover {
  background: rgba(214, 205, 205, 0.5);
}
.input {
  background-color: white;
  border-radius: 10px;
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 7px rgb(46, 45, 45);
}

.nav_right_side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0.3;
  height: 40px;
}
.nav_right_side > a {
  color: white;
  font-weight: bolder;
}
.nav_right_side > a:hover {
  color: black;
}
.cart > svg {
  width: 50px;
  height: 30px;
}

@media (max-width: 1250px) {
  .nav_right_side {
    flex: 0.1;
  }

  .nav_right_side > a {
    display: none;
  }
  .nav_right_side > a:nth-of-type(4) {
    display: block;
  }
}
@media (max-width: 750px) {
  .input {
    flex: 0.8;
  }
}
