.sidebar {
  background: #046a8b;
  position: fixed;
  height: 100vh;
  width: 280px;
  box-shadow: 0 5px 20px gray;
  transform: translateX(-150%);
  transition: transform 0.8s ease;
  z-index: 100;
}

.sidebar ul {
  margin-top: 70px;
}
.sidebar i {
  margin: 0 15px;
}
.sidebar ul li {
  padding: 10px;
  margin: 10px 0;
  margin-left: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  display: block;
  color: white;
  border-radius: 5px 0 0 5px;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background: rgb(45, 124, 177) !important;
  color: black !important;
}

.shrinker {
  background: white;
  font-weight: bold;
  color: rgb(83, 80, 80);
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 50%;
  box-shadow: 0 5px 20px gray;
  transform: translate(100%, -50%);
  width: 25px;
  height: 90px;
  background: white;
  border-radius: 0 90px 90px 0;
}

.shrinker:hover {
  background: #eee;
}

@media (max-width: 1250px) {
}
