.support {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  background-image: url(../assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 75%;
  padding: 5%;
  font-size: 1.5rem;
  background-color: rgba(212, 238, 229, 0.7);
  border-radius: 10px;
}
.container h1 {
  text-align: center;
}
.container p {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
}
.container section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container > h1 {
  font-weight: bolder;
  color: #046a8b;
}
.container section > div {
  font-weight: bolder;
  font-size: 1rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  cursor: pointer;
}

.container section > div > div {
  margin-top: 10px;
}

.container svg {
  width: 100%;
  height: 90%;
  background-color: beige;
  box-shadow: 0 2px 10px gray;
  border-radius: 10px;
  padding: 12%;
}

.container section > div:nth-child(1) > svg:hover {
  background-color: rgb(226, 134, 28);
  color: white;
}
.container section > div:nth-child(2) > svg:hover {
  background-color: blue;
  color: white;
}
.container section > div:nth-child(3) > svg:hover {
  background-color: rgb(28, 195, 98);
  color: white;
}

@media (max-width: 1250px) {
  .container section > div:nth-child(1) > svg {
    background-color: rgb(226, 134, 28);
    color: white;
  }
  .container section > div:nth-child(2) > svg {
    background-color: blue;
    color: white;
  }
  .container section > div:nth-child(3) > svg {
    background-color: rgb(28, 195, 98);
    color: white;
  }

  .container section > div > div {
    margin-top: 10px;
    font-size: 0.75rem;
    white-space: nowrap;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 60%;
    padding: 3%;
  }
  .container svg {
    width: 60%;
    height: 40%;
  }

  .container > h1,
  .container > div {
    width: 75%;
    margin: 10px auto;
  }
}
